.verde {
background-color: green;
}

.rojo 
{
  background-color: red;
}

html {
    background: hotpink;
  }
  
  body {
    margin: 0;
    background: black;
  }
  
  .container {
    width: 300px;
    min-height: 250px;
    margin: auto;
    background: indigo;
    color: white;
    padding: 2rem;
  }