.verde {
background-color: green;
}

.rojo 
{
  background-color: red;
}

html {
    background: rgb(233, 255, 105);
  }
  
  body {
    margin: 0;
    background: rgb(0, 200, 255);
  }
  
  .container {
    width: 400px;
    min-height: 250px;
    margin: auto;
    background: indigo;
    color: white;
    padding: 2rem;
  }